{% load static %}
<html>
    <head>
        <title>Django blog</title>
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
    </head>
    <body>
        <div>
            <header>
                <div class="nav-left">
                    <h1><a href="{% url 'home' %}">Мой блог</a></h1>
                </div>
                <div class="nav-right">
                    <a href="{% url 'post_new' %}">Добавить пост</a>
                </div>
                <div>
                    <h2>
                        <a href="{% url 'custom_form' %}">Кастомная форма</a>
                    </h2>
                </div>
            </header>
            <div>
                {% block content %}
                {% endblock content %}
            </div>
        </div>
    </body>
</html>
